.input {
  width: 100%;
  background: $gray-600;
  border-radius: 12px;
  padding: 17px 20px;
  outline: none;
  @include text-md;
  color: $gray-400;
  &::placeholder {
    @include text-md;
    color: $gray-400;
  }
}

.error {
  background: $gray-900;
}

.errorMessage {
  max-width: 30%;
  width: 100%;
  @include text-sm;
  color: $white;
}
